<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Editor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .field {
            margin-top: 15px;
        }

        .card {
            margin-top: 20px;
        }

        h3 {
            margin-top: 20px;
        }

        .download {
            text-align: center;
        }

        .card-image {
            align-items: center;
        }
    </style>
  </head>
  <body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">Upload</h1>
            
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                
                        {{ form.as_p }}
                
                        <div class="field">
                            <div class="control">
                                <button class="button is-success">Upload</button>
                                <div class="download">
                                    <h3>❗❗❗Make sure to download your image. Otherwise, it'll get vanished when you refresh😁❗❗❗</h3>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    {% if upload %}
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ upload.image.url }}">
                                </figure>
                            </div>
                            <div class="download">
                                <button class="button"><a href="{{ upload.image.url }}" download="{{ upload.image.url }}">Download Image</a></button>
                            </div>
                        </div> 
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
  </body>
</html>